<a href="https://colab.research.google.com/github/jwengr/dacon/blob/main/%EC%8B%9C%EC%8A%A4%ED%85%9C%20%ED%92%88%EC%A7%88%20%EB%B3%80%ED%99%94%EB%A1%9C%20%EC%9D%B8%ED%95%9C%20%EC%82%AC%EC%9A%A9%EC%9E%90%20%EB%B6%88%ED%8E%B8%20%EC%98%88%EC%A7%80%20AI%20%EA%B2%BD%EC%A7%84%EB%8C%80%ED%9A%8C/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!unzip drive/My\ Drive/dacon/lg/dataset/data.zip -d drive/My\ Drive/dacon/lg/dataset

In [ ]:
!pip install pandas_profiling --upgrade

In [ ]:
import pandas as pd
import numpy as np
import pandas_profiling as pp
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#pd.options.mode.chained_assignment = None

In [ ]:
defaultpath = 'drive/My Drive/dacon/lg'

그냥 csv를 읽을시 데이터 손실이 나기때문에(타입문제) str타입으로 읽어준다.

In [ ]:
err_df= pd.read_csv(defaultpath+'/dataset/train_err_data.csv',encoding='utf-8',dtype=np.str)
quality_df= pd.read_csv(defaultpath+'/dataset/train_quality_data.csv',encoding='utf-8',dtype=np.str)
problem_df= pd.read_csv(defaultpath+'/dataset/train_problem_data.csv',encoding='utf-8',dtype=np.str)

test_err_df= pd.read_csv(defaultpath+'/dataset/test_err_data.csv',encoding='utf-8',dtype=np.str)
test_quality_df= pd.read_csv(defaultpath+'/dataset/test_quality_data.csv',encoding='utf-8',dtype=np.str)
sample_submission= pd.read_csv(defaultpath+'/dataset/sample_submission.csv',encoding='utf-8',dtype=np.str)

pandas profiling이 메모리문제로 안됨-> 일단 데이터를 직접 확인하자

In [ ]:
problem_df.head()

  user_id            time
0   19224  20201102200000
1   23664  20201116140000
2   15166  20201114130000
3   12590  20201108210000
4   15932  20201103210000

In [ ]:
problem_df.describe()

       user_id            time
count     5429            5429
unique    5000             488
top      24407  20201130120000
freq         5              42

In [ ]:
problem_df.isna().sum()

user_id    0
time       0
dtype: int64

In [ ]:
sample_submission.head()

  user_id problem
0   30000       0
1   30001       0
2   30002       0
3   30003       0
4   30004       0

In [ ]:
sample_submission.describe()

       user_id problem
count    14999   14999
unique   14999       1
top      31645       0
freq         1   14999

In [ ]:
err_df.describe()

         user_id            time  model_nm       fwver   errtype   errcode
count   16554663        16554663  16554663    16554663  16554663  16554662
unique     15000         2566163         9          37        41      2805
top        24934  20201108023257   model_1  04.16.3553        23         1
freq      222186             631   5384491     5237816   2276515   8906967

In [ ]:
err_df.head()

  user_id            time model_nm       fwver errtype errcode
0   10000  20201101025616  model_3  05.15.2138      15       1
1   10000  20201101030309  model_3  05.15.2138      12       1
2   10000  20201101030309  model_3  05.15.2138      11       1
3   10000  20201101050514  model_3  05.15.2138      16       1
4   10000  20201101050515  model_3  05.15.2138       4       0

In [ ]:
err_df.isna().sum()

user_id     0
time        0
model_nm    0
fwver       0
errtype     0
errcode     1
dtype: int64

In [ ]:
quality_df.describe()

                  time user_id       fwver  ... quality_10 quality_11 quality_12
count           828624  828624      788544  ...     828624     828624     828624
unique            4319    8281          27  ...       4200         12         14
top     20201110143000   15357  05.15.2138  ...          3          0          0
freq               948    4224      163236  ...      99828     672229     801156

[4 rows x 16 columns]

In [ ]:
quality_df.head()

             time user_id       fwver  ... quality_10 quality_11 quality_12
0  20201129090000   10000  05.15.2138  ...          4          0          0
1  20201129090000   10000  05.15.2138  ...          4          0          0
2  20201129090000   10000  05.15.2138  ...          4          0          0
3  20201129090000   10000  05.15.2138  ...          4          0          0
4  20201129090000   10000  05.15.2138  ...          4          0          0

[5 rows x 16 columns]

In [ ]:
quality_df.isna().sum()

time               0
user_id            0
fwver          40080
quality_0     144432
quality_1          0
quality_2      40113
quality_3          0
quality_4          0
quality_5         20
quality_6          0
quality_7          0
quality_8          0
quality_9          0
quality_10         0
quality_11         0
quality_12         0
dtype: int64

quality data의 nan 값이 상당히 많기 때문에 이를 잘 처리해야한다.

problem data : 5000명의 유저가 에러를 신고한 시간이다. 
5000명의 유저가 신고했지만 기간은 480에 불과하다.
즉 같은 시간대에 여러 유저들이 불편함을 느끼고 신고하였다.
sample submission : 14999 유저의 에러신고여부를 예측해야한다
err data : 15000명의 유저가 에러를 겪은 시간대와 그 에러종류, 모델, 버전정보가 있다. 한명의 유저가 여러시간대에 여러 에러를 겪는다.
quality data : 4319의 시간기간에 시스템 퀄리티의 정보와 사용한 유저가 있다.

problem data 분석

In [ ]:
problem_df['year'] = problem_df['time'].apply(lambda x: x[:4])
problem_df['month'] = problem_df['time'].apply(lambda x:  x[4:6])
problem_df['day'] = problem_df['time'].apply(lambda x: x[6:8])
problem_df['hour'] = problem_df['time'].apply(lambda x: x[8:10])
problem_df['mmss'] = problem_df['time'].apply(lambda x: x[10:])

In [ ]:
problem_df.describe()

       user_id            time  year month   day  hour  mmss
count     5429            5429  5429  5429  5429  5429  5429
unique    5000             488     1     1    30    24     1
top      24407  20201130120000  2020    11    30    12  0000
freq         5              42  5429  5429   287   627  5429

problem data는 2020년 11월 한달동안의 에러를 겪은 유저이다.
즉 11월 한달동안 에러를 신고한 유저를 예측해야 한다.
mmss는 기록되지 않는다.  유저의 id구간은 10001~24998이다.
한 유저가 한달동안에 여러 에러를 겪어서 여러번 신고할 수 도 있지만, 여러번 신고하더라도 1번으로 기록된다.단순 0 1 정확도 분석보다는 여러 모델의 Cross entropy를 ensemble한 것이 좋을것 같다는 생각.

err data 분석

In [ ]:
err_df['year'] = err_df['time'].apply(lambda x: x[:4])
err_df['month'] = err_df['time'].apply(lambda x:  x[4:6])
err_df['day'] = err_df['time'].apply(lambda x: x[6:8])
err_df['hour'] = err_df['time'].apply(lambda x: x[8:10])
err_df['mmss'] = err_df['time'].apply(lambda x: x[10:])

In [ ]:
err_df.describe()

         user_id            time  model_nm  ...       day      hour      mmss
count   16554663        16554663  16554663  ...  16554663  16554663  16554663
unique     15000         2566163         9  ...        31        24      3600
top        24934  20201108023257   model_1  ...        21        19      0008
freq      222186             631   5384491  ...    649909    899350      5377

[4 rows x 11 columns]

err data 도 2020년인건 동일하지만 11월을 전후로 3달간의 데이터입니다.

In [ ]:
err_df['time'].astype(int).describe().astype(int)

count          16554663
mean     20201115695081
std             8664375
min      20201031235959
25%      20201108122625
50%      20201116030018
75%      20201123135610
max      20201202185152
Name: time, dtype: int64

err data는 10월말부터 12월초까지의 데이터 입니다.
다른 날짜들의 데이터가 도움이 될까요?
일단 11월의 데이터만 살펴보겠습니다.

In [ ]:
err_df[err_df['time'].str.contains('202011.{8}')].describe()

         user_id            time  model_nm  ...       day      hour      mmss
count   16554577        16554577  16554577  ...  16554577  16554577  16554577
unique     15000         2566096         9  ...        30        24      3600
top        24934  20201108023257   model_1  ...        21        19      0008
freq      222186             631   5384470  ...    649909    899349      5377

[4 rows x 11 columns]

err_df에서
11월 총 유저는 16554577 이고 중복을 제거하면
15000명의 유저가 에러를 겪었다.
그중 5천명이 에러를 신고하였습니다.

각 유저들의 에러 경험 수를 컬럼으로 만들고 완전중복인 행을 제거합니다.

한달동안의 데이터가 있고 이 데이터를 0 ,1 로 분류하는 방법을 설계해 봅시다.
1.시계열 분석(rnn 히든마르코프 등) 딥러닝, 머신러닝
2.한달의 데이터의 요약 : 고전적, 머신러닝, 금융공학
3.완전중복만 제거 후 머신러닝(기본)

10월 말과 12월초의 데이터에 0,1을 부여하여 학습에 사용 할  수도 있습니다->몬테카를로(시계열),머신러닝 등

quality data 분석

In [ ]:
quality_df['year'] = quality_df['time'].apply(lambda x: x[:4])
quality_df['month'] = quality_df['time'].apply(lambda x:  x[4:6])
quality_df['day'] = quality_df['time'].apply(lambda x: x[6:8])
quality_df['hour'] = quality_df['time'].apply(lambda x: x[8:10])
quality_df['mmss'] = quality_df['time'].apply(lambda x: x[10:])

In [ ]:
quality_df.describe()

                  time user_id       fwver  ...     day    hour    mmss
count           828624  828624      788544  ...  828624  828624  828624
unique            4319    8281          27  ...      31      24       6
top     20201110143000   15357  05.15.2138  ...      08      22    2000
freq               948    4224      163236  ...   33996   59352  151224

[4 rows x 21 columns]

In [ ]:
quality_df['time'].astype(int).describe().astype(int)

count            828624
mean     20201115421121
std             8863638
min      20201031235000
25%      20201108102750
50%      20201115182500
75%      20201123131000
max      20201130234000
Name: time, dtype: int64

quality data는 2020년 10월 11일부터 2020년 11월 30일 23시까지의 로그를 가지고 있다.

In [ ]:
quality_ppdf = quality_df[quality_df['time'].str.contains('202011.{8}')].drop(['time','year','month','day','mmss'],axis=1)

In [ ]:
quality_ppdf.isna().sum()

user_id            0
fwver          40068
quality_0     144420
quality_1          0
quality_2      40101
quality_3          0
quality_4          0
quality_5         20
quality_6          0
quality_7          0
quality_8          0
quality_9          0
quality_10         0
quality_11         0
quality_12         0
hour               0
dtype: int64

nan 값이 발생한 row만 살펴보겠습니다.

In [ ]:
quality_df[quality_df.isna().sum(axis=1)>0].describe()

                  time user_id       fwver  ...     day    hour    mmss
count           144485  144485      104405  ...  144485  144485  144485
unique            3913     587           7  ...      31      24       6
top     20201104204000   23065  03.11.1167  ...      27      22    2000
freq               180    3828      104148  ...    5681   10213   27530

[4 rows x 21 columns]

특정 fwver과 quality_0에서의 nan이 주목할만 합니다.

In [ ]:
quality_ppdf.describe()

       user_id       fwver quality_0  ... quality_11 quality_12    hour
count   828408      788340    683988  ...     828408     828408  828408
unique    8281          27       753  ...         12         14      24
top      15357  05.15.2138       0.0  ...          0          0      22
freq      4224      163176    542614  ...     672042     800940   59352

[4 rows x 16 columns]

In [ ]:
for i in range(13):
    print('quality_'+str(i),set(quality_ppdf[quality_ppdf.notna()].drop(['user_id','fwver'],axis=1).iloc[:,i].values))

quality_0 {nan, '197.0', '127.0', '207.0', '386.0', '404.0', '77.0', '13.0', '28.0', '422.0', '267.0', '66.0', '1488.0', '4492.0', '408.0', '259.0', '186.0', '695.0', '11284.0', '18953.0', '234.0', '566.0', '488.0', '97.0', '6964.0', '1243.0', '332.0', '135.0', '570.0', '357.0', '882.0', '15.0', '383.0', '8.0', '295.0', '72.0', '380.0', '292.0', '221.0', '458.0', '613.0', '9.0', '6975.0', '1027.0', '1310.0', '313.0', '1141.0', '2075.0', '101.0', '691.0', '442.0', '514.0', '780.0', '3187.0', '589.0', '3.0', '14562.0', '212.0', '296.0', '598.0', '261.0', '513.0', '889.0', '678.0', '4599.0', '453.0', '90.0', '4.0', '307.0', '233.0', '27.0', '949.0', '685.0', '44.0', '79.0', '87.0', '1007.0', '298.0', '1217.0', '188.0', '637.0', '624.0', '323.0', '1167.0', '178.0', '1038.0', '2351.0', '4973.0', '297.0', '4597.0', '888.0', '303.0', '222.0', '167.0', '18.0', '284.0', '374.0', '290.0', '143.0', '1851.0', '11356.0', '228.0', '492.0', '4970.0', '324.0', '302.0', '304.0', '4552.0', '41.0', '4324.0', '998.0', '108.0', '1177.0', '4340.0', '398.0', '305.0', '16.0', '205.0', '104.0', '279.0', '140.0', '385.0', '37.0', '590.0', '227.0', '5017.0', '165.0', '182.0', '136.0', '432.0', '142.0', '12447.0', '412.0', '402.0', '35.0', '4279.0', '5064.0', '4088.0', '18714.0', '789.0', '436.0', '26202.0', '334.0', '83.0', '21003.0', '-1.0', '18841.0', '50.0', '289.0', '1704.0', '1836.0', '4631.0', '14.0', '2834.0', '467.0', '5761.0', '268.0', '872.0', '220.0', '107.0', '156.0', '139.0', '12727.0', '420.0', '667.0', '61909.0', '605.0', '455.0', '489.0', '658.0', '333.0', '1994.0', '563.0', '516.0', '392.0', '3837.0', '23.0', '441.0', '281.0', '934.0', '528.0', '74.0', '20310.0', '20632.0', '777.0', '2105.0', '347.0', '168.0', '236.0', '174.0', '508.0', '183.0', '33.0', '119.0', '370.0', '1914.0', '157667.0', '5827.0', '413.0', '99.0', '134235.0', '57.0', '505.0', '272.0', '49.0', '301.0', '2039.0', '535.0', '129.0', '849.0', '242.0', '3692.0', '109.0', '134.0', '7427.0', '2454.0', '403.0', '439.0', '121.0', '486.0', '753.0', '76.0', '105.0', '2336.0', '358.0', '6612.0', '226.0', '4773.0', '464.0', '91.0', '409.0', '1262.0', '35350.0', '240.0', '51.0', '177.0', '482.0', '4095.0', '1785.0', '608.0', '3013.0', '5292.0', '10.0', '128.0', '569.0', '4787.0', '1006.0', '5374.0', '337.0', '6813.0', '116.0', '649.0', '471.0', '21.0', '223.0', '959.0', '594.0', '12562.0', '375.0', '469.0', '117.0', '319.0', '490.0', '265.0', '294.0', '985.0', '17994.0', '327.0', '926.0', '481.0', '4347.0', '299.0', '351.0', '200.0', '727.0', '1869.0', '7757.0', '421.0', '309.0', '280.0', '921.0', '782.0', '446.0', '378.0', '499.0', '164.0', '2987.0', '43.0', '1351.0', '78.0', '218.0', '64.0', '1261.0', '470.0', '175.0', '531.0', '1090.0', '434.0', '132.0', '372.0', '26.0', '42.0', '524.0', '633.0', '5221.0', '315.0', '141.0', '229.0', '846.0', '54567.0', '551.0', '170.0', '198.0', '2262.0', '17.0', '214.0', '206.0', '3779.0', '239.0', '4229.0', '133.0', '9943.0', '692.0', '102.0', '22.0', '449.0', '3214.0', '600.0', '4289.0', '509.0', '147.0', '113.0', '627.0', '9994.0', '317.0', '47938.0', '623.0', '286.0', '335.0', '110.0', '904.0', '7025.0', '365.0', '320.0', '338.0', '491.0', '70.0', '126.0', '974.0', '4094.0', '573.0', '19.0', '3958.0', '1753.0', '661.0', '7422.0', '39.0', '411.0', '11259.0', '201.0', '238.0', '0.0', '366.0', '3274.0', '1991.0', '428.0', '401.0', '406.0', '137.0', '1392.0', '521.0', '224.0', '355.0', '952.0', '367.0', '19298.0', '2442.0', '558.0', '812.0', '3162.0', '247.0', '478.0', '24867.0', '1201.0', '22332.0', '112.0', '350.0', '3790.0', '152.0', '81.0', '253.0', '3731.0', '190.0', '369.0', '7346.0', '710.0', '705.0', '2717.0', '151.0', '2247.0', '123.0', '46.0', '761.0', '522.0', '341.0', '2662.0', '809.0', '19142.0', '342.0', '416.0', '437.0', '452.0', '162.0', '344.0', '5041.0', '487.0', '543.0', '84.0', '57891.0', '252.0', '4534.0', '10165.0', '946.0', '329.0', '149.0', '462.0', '4034.0', '59.0', '131.0', '394.0', '106.0', '308.0', '660.0', '326.0', '189.0', '11.0', '241.0', '1393.0', '5879.0', '89.0', '382.0', '5129.0', '3191.0', '548.0', '445.0', '2419.0', '4343.0', '8382.0', '146.0', '1157.0', '538.0', '163.0', '360.0', '419.0', '426.0', '311.0', '192.0', '11569.0', '6834.0', '203.0', '138.0', '254.0', '944.0', '150.0', '391.0', '561.0', '82.0', '2644.0', '3934.0', '316.0', '431.0', '506.0', '255.0', '285.0', '130.0', '760.0', '363.0', '440.0', '3794.0', '53.0', '263.0', '196.0', '145.0', '93.0', '592.0', '166.0', '1.0', '387.0', '258.0', '176.0', '931.0', '4929.0', '4117.0', '31.0', '208.0', '32.0', '5160.0', '381.0', '346.0', '120.0', '173.0', '115.0', '1987.0', '2484.0', '5482.0', '3175.0', '379.0', '512.0', '199.0', '191.0', '559.0', '68.0', '231.0', '397.0', '6.0', '828.0', '476.0', '71.0', '3835.0', '273.0', '22454.0', '25.0', '1206.0', '184.0', '169.0', '615.0', '8278.0', '256.0', '291.0', '122.0', '271.0', '783.0', '617.0', '331.0', '625.0', '451.0', '194.0', '216.0', '118.0', '103.0', '155.0', '583.0', '750.0', '10628.0', '58.0', '154.0', '813.0', '393.0', '38.0', '300.0', '16218.0', '794.0', '84890.0', '260.0', '652.0', '65.0', '425.0', '209.0', '336.0', '2016.0', '30.0', '417.0', '77175.0', '7409.0', '2310.0', '187.0', '249.0', '373.0', '73.0', '4665.0', '776.0', '435.0', '153.0', '213.0', '100.0', '47.0', '3619.0', '1113.0', '31028.0', '7573.0', '529.0', '3186.0', '479.0', '321.0', '63.0', '1741.0', '262.0', '2881.0', '34.0', '7.0', '217.0', '2885.0', '171.0', '377.0', '246.0', '473.0', '699.0', '159.0', '465.0', '20.0', '601.0', '3772.0', '1186.0', '244.0', '405.0', '92.0', '314.0', '37451.0', '502.0', '3953.0', '215.0', '114.0', '98.0', '371.0', '388.0', '579.0', '3855.0', '62.0', '4806.0', '2341.0', '361.0', '1340.0', '277.0', '5658.0', '288.0', '582.0', '2842.0', '663.0', '111.0', '2245.0', '180.0', '546.0', '1009.0', '310.0', '354.0', '124.0', '771.0', '60.0', '450.0', '2937.0', '518.0', '1189.0', '3081.0', '556.0', '2440.0', '1119.0', '181.0', '497.0', '161.0', '790.0', '69.0', '67.0', '903.0', '501.0', '230.0', '86.0', '5539.0', '2444.0', '407.0', '48.0', '664.0', '52.0', '250.0', '2.0', '125.0', '85.0', '414.0', '96.0', '6760.0', '75.0', '95.0', '368.0', '148.0', '3443.0', '45.0', '3252.0', '88.0', '5309.0', '424.0', '5331.0', '749.0', '185.0', '795.0', '270.0', '457.0', '269.0', '124500.0', '7385.0', '61.0', '460.0', '5.0', '826.0', '36.0', '29294.0', '585.0', '29.0', '429.0', '11313.0', '275.0', '729.0', '219.0', '523.0', '9127.0', '485.0', '4803.0', '547.0', '40.0', '772.0', '144.0', '157.0', '24.0', '64928.0', '94.0', '4156.0', '125356.0', '2826.0', '390.0', '80.0', '56.0', '193.0', '549.0', '276.0', '343.0', '463.0', '330.0', '54.0', '3037.0', '554.0', '542.0', '978.0', '345.0', '972.0', '400.0', '957.0', '595.0', '3280.0', '2552.0', '243.0', '55.0', '1837.0', '12.0', '1024.0', '158.0', '1073.0', '396.0', '172.0', '643.0', '827.0', '474.0', '472.0', '282.0', '3248.0', '306.0', '665.0'}
quality_1 {'3', '23', '20', '88', '1', '117', '35', '40', '2', '11', '21', '16', '18', '15', '17', '6', '13', '14', '8', '19', '12', '4', '7', '169', '5', '-1', '9', '10', '171', '170', '0'}
quality_2 {nan, '197.0', '127.0', '207.0', '386.0', '404.0', '77.0', '13.0', '28.0', '12089.0', '422.0', '267.0', '66.0', '1488.0', '4492.0', '3511.0', '408.0', '259.0', '186.0', '695.0', '11284.0', '18953.0', '234.0', '566.0', '488.0', '97.0', '6964.0', '1243.0', '332.0', '135.0', '570.0', '357.0', '1641.0', '882.0', '15.0', '383.0', '8.0', '295.0', '3902.0', '72.0', '3514.0', '292.0', '221.0', '458.0', '613.0', '9.0', '380.0', '6975.0', '1027.0', '1310.0', '313.0', '1141.0', '2075.0', '101.0', '691.0', '442.0', '514.0', '780.0', '3187.0', '589.0', '3.0', '14562.0', '212.0', '296.0', '598.0', '261.0', '513.0', '889.0', '678.0', '4599.0', '2851.0', '90.0', '4.0', '307.0', '453.0', '27.0', '233.0', '685.0', '949.0', '44.0', '79.0', '87.0', '1007.0', '298.0', '1217.0', '188.0', '637.0', '624.0', '323.0', '1167.0', '178.0', '1038.0', '2351.0', '3638.0', '4973.0', '297.0', '3632.0', '4597.0', '888.0', '303.0', '222.0', '167.0', '18.0', '284.0', '389.0', '374.0', '290.0', '143.0', '3262.0', '1851.0', '11356.0', '228.0', '3041.0', '492.0', '4970.0', '324.0', '302.0', '304.0', '4552.0', '41.0', '179735.0', '4324.0', '998.0', '108.0', '1177.0', '4340.0', '398.0', '305.0', '16.0', '2933.0', '205.0', '104.0', '279.0', '140.0', '385.0', '37.0', '590.0', '227.0', '5017.0', '165.0', '182.0', '136.0', '432.0', '142.0', '12447.0', '412.0', '402.0', '35.0', '4279.0', '5064.0', '4088.0', '18714.0', '789.0', '436.0', '26202.0', '334.0', '83.0', '21003.0', '-1.0', '18841.0', '50.0', '289.0', '1704.0', '1836.0', '4631.0', '14.0', '2834.0', '467.0', '5761.0', '268.0', '5087.0', '872.0', '220.0', '107.0', '156.0', '139.0', '12727.0', '420.0', '667.0', '61909.0', '605.0', '455.0', '489.0', '658.0', '333.0', '1994.0', '563.0', '516.0', '392.0', '3837.0', '23.0', '441.0', '281.0', '934.0', '528.0', '74.0', '20310.0', '3679.0', '3074.0', '20632.0', '777.0', '2105.0', '347.0', '168.0', '236.0', '174.0', '508.0', '183.0', '33.0', '119.0', '370.0', '1914.0', '157667.0', '5827.0', '413.0', '99.0', '134235.0', '57.0', '505.0', '272.0', '49.0', '301.0', '2039.0', '535.0', '129.0', '849.0', '242.0', '3692.0', '109.0', '134.0', '3730.0', '3426.0', '2905.0', '7427.0', '2454.0', '403.0', '439.0', '121.0', '486.0', '753.0', '76.0', '105.0', '2336.0', '358.0', '6612.0', '226.0', '4773.0', '464.0', '91.0', '409.0', '1262.0', '35350.0', '240.0', '51.0', '177.0', '482.0', '4095.0', '1785.0', '608.0', '3013.0', '5292.0', '10.0', '128.0', '569.0', '4787.0', '1006.0', '5374.0', '337.0', '6813.0', '116.0', '649.0', '471.0', '21.0', '223.0', '959.0', '594.0', '12562.0', '375.0', '469.0', '117.0', '319.0', '490.0', '265.0', '3672.0', '294.0', '985.0', '17994.0', '327.0', '926.0', '481.0', '4347.0', '4009.0', '299.0', '351.0', '200.0', '9498.0', '727.0', '1869.0', '7757.0', '421.0', '309.0', '280.0', '921.0', '782.0', '446.0', '378.0', '499.0', '164.0', '2987.0', '43.0', '1351.0', '78.0', '64.0', '218.0', '1261.0', '470.0', '175.0', '531.0', '1090.0', '434.0', '132.0', '372.0', '26.0', '42.0', '524.0', '633.0', '5221.0', '315.0', '141.0', '229.0', '846.0', '54567.0', '551.0', '170.0', '198.0', '2262.0', '113626.0', '17.0', '214.0', '206.0', '3779.0', '239.0', '4229.0', '133.0', '9943.0', '692.0', '102.0', '22.0', '449.0', '3214.0', '600.0', '4289.0', '3314.0', '509.0', '147.0', '113.0', '627.0', '9994.0', '317.0', '47938.0', '623.0', '286.0', '335.0', '110.0', '904.0', '1926.0', '1612.0', '7025.0', '365.0', '320.0', '338.0', '491.0', '70.0', '126.0', '974.0', '4094.0', '573.0', '19.0', '3958.0', '1753.0', '661.0', '7422.0', '39.0', '411.0', '11259.0', '201.0', '238.0', '0.0', '366.0', '3274.0', '1991.0', '428.0', '401.0', '406.0', '137.0', '1392.0', '521.0', '224.0', '355.0', '952.0', '367.0', '19298.0', '2442.0', '558.0', '812.0', '3162.0', '247.0', '478.0', '24867.0', '1201.0', '22332.0', '112.0', '350.0', '3790.0', '152.0', '81.0', '253.0', '3731.0', '190.0', '369.0', '7346.0', '710.0', '4708.0', '705.0', '2717.0', '151.0', '2247.0', '123.0', '46.0', '761.0', '522.0', '341.0', '2662.0', '809.0', '19142.0', '342.0', '416.0', '437.0', '452.0', '162.0', '344.0', '3908.0', '5041.0', '487.0', '14086.0', '543.0', '3799.0', '84.0', '57891.0', '252.0', '4534.0', '10165.0', '946.0', '329.0', '149.0', '462.0', '4034.0', '59.0', '131.0', '394.0', '106.0', '308.0', '660.0', '326.0', '189.0', '11.0', '241.0', '1393.0', '5879.0', '89.0', '382.0', '5129.0', '3191.0', '548.0', '445.0', '2419.0', '4343.0', '8382.0', '146.0', '1157.0', '538.0', '899.0', '3510.0', '163.0', '360.0', '419.0', '426.0', '311.0', '192.0', '11569.0', '6834.0', '203.0', '138.0', '254.0', '944.0', '150.0', '391.0', '561.0', '82.0', '2644.0', '3303.0', '3934.0', '316.0', '431.0', '506.0', '3509.0', '255.0', '285.0', '130.0', '760.0', '363.0', '440.0', '3794.0', '53.0', '263.0', '196.0', '145.0', '93.0', '592.0', '1.0', '166.0', '387.0', '258.0', '176.0', '931.0', '4929.0', '4117.0', '31.0', '208.0', '32.0', '5160.0', '381.0', '346.0', '120.0', '173.0', '115.0', '1987.0', '2484.0', '5482.0', '3175.0', '379.0', '191859.0', '512.0', '199.0', '559.0', '191.0', '68.0', '231.0', '397.0', '4021.0', '6.0', '828.0', '476.0', '71.0', '3835.0', '273.0', '22454.0', '25.0', '1206.0', '184.0', '169.0', '615.0', '8278.0', '256.0', '291.0', '122.0', '3225.0', '271.0', '3549.0', '783.0', '617.0', '331.0', '625.0', '451.0', '194.0', '216.0', '118.0', '103.0', '155.0', '583.0', '750.0', '10628.0', '58.0', '154.0', '3112.0', '813.0', '393.0', '38.0', '300.0', '16218.0', '794.0', '84890.0', '260.0', '652.0', '65.0', '425.0', '209.0', '336.0', '2016.0', '30.0', '417.0', '77175.0', '7409.0', '2310.0', '187.0', '249.0', '373.0', '73.0', '4815.0', '4665.0', '776.0', '435.0', '153.0', '213.0', '100.0', '47.0', '3619.0', '1113.0', '31028.0', '7573.0', '529.0', '3186.0', '479.0', '321.0', '63.0', '1741.0', '262.0', '2881.0', '34.0', '7.0', '217.0', '2885.0', '171.0', '377.0', '246.0', '473.0', '699.0', '159.0', '465.0', '20.0', '601.0', '3772.0', '1186.0', '244.0', '405.0', '92.0', '314.0', '37451.0', '502.0', '3953.0', '16557.0', '215.0', '114.0', '98.0', '371.0', '388.0', '579.0', '3855.0', '62.0', '4806.0', '2341.0', '361.0', '1340.0', '277.0', '5658.0', '288.0', '582.0', '2842.0', '663.0', '111.0', '2245.0', '180.0', '546.0', '1009.0', '310.0', '354.0', '3678.0', '124.0', '771.0', '60.0', '450.0', '2937.0', '518.0', '1189.0', '3081.0', '123485.0', '556.0', '2440.0', '1119.0', '181.0', '497.0', '161.0', '790.0', '69.0', '67.0', '903.0', '501.0', '230.0', '86.0', '5539.0', '2444.0', '407.0', '48.0', '664.0', '52.0', '250.0', '2.0', '125.0', '85.0', '414.0', '96.0', '6760.0', '75.0', '95.0', '124060.0', '368.0', '148.0', '3443.0', '45.0', '3252.0', '88.0', '5309.0', '424.0', '5331.0', '749.0', '185.0', '795.0', '270.0', '457.0', '269.0', '3067.0', '124500.0', '7385.0', '61.0', '460.0', '5.0', '826.0', '36.0', '29294.0', '585.0', '29.0', '429.0', '11313.0', '275.0', '729.0', '219.0', '523.0', '9127.0', '485.0', '4803.0', '547.0', '40.0', '772.0', '144.0', '157.0', '24.0', '64928.0', '94.0', '4156.0', '125356.0', '2826.0', '390.0', '80.0', '56.0', '193.0', '549.0', '276.0', '343.0', '463.0', '330.0', '54.0', '3037.0', '554.0', '542.0', '978.0', '345.0', '972.0', '400.0', '957.0', '595.0', '3280.0', '2552.0', '243.0', '55.0', '1837.0', '12.0', '1024.0', '158.0', '1073.0', '396.0', '172.0', '643.0', '827.0', '474.0', '472.0', '282.0', '3248.0', '306.0', '665.0'}
quality_3 {'0'}
quality_4 {'0'}

quality data는 ,가 포함된 숫자이므로 숫자형으로 바꿔주어야한다.
quality 3,4 는 모든컬럼이 0이다 -> 삭제
대부분의 컬럼은 0이 제일 많다 -> quality 10은 예외
nan값과 -1값은 무엇을 뜻하는걸까?
unique값이 작은 데이터들은 범주형 데이터일까? -> test데이터와의 비교 필요

quality데이터와 err데이터의 비교
quality 유저수 8281 err 유저수 15000
quality fwver 27개 err fwver 37
quality 기간 20201011 - 20201130 err 기간 20201031 -20201202

In [ ]:
test_err_df['year'] = test_err_df['time'].apply(lambda x: x[:4])
test_err_df['month'] = test_err_df['time'].apply(lambda x:  x[4:6])
test_err_df['day'] = test_err_df['time'].apply(lambda x: x[6:8])
test_err_df['hour'] = test_err_df['time'].apply(lambda x: x[8:10])
test_err_df['mmss'] = test_err_df['time'].apply(lambda x: x[10:])

In [ ]:
test_err_df.describe()

         user_id            time  model_nm  ...       day      hour      mmss
count   16532648        16532648  16532648  ...  16532648  16532648  16532648
unique     14998         2567716         9  ...        31        24      3600
top        41285  20201129045433   model_1  ...        12        19      0905
freq      396478             618   5473847  ...    614600    898253      5477

[4 rows x 11 columns]

In [ ]:
test_err_df['time'].astype(int).describe().astype(int)

count          16532648
mean     20201115490295
std             8673027
min      20201031235959
25%      20201108093640
50%      20201115174401
75%      20201123082358
max      20201214120118
Name: time, dtype: int64

test_err의 시작날짜는 1031로 동일하지만
err의 마지막날찌는 1202인 반면에 test_err은 1214에 끝납니다.
fwver또한 test_err에서는 40개로 새롭게 더 등장합니다.
errtype과 errcode또한 서로 다를지 확인할 필요가 있습니다.

In [ ]:
test_err_df[test_err_df['time'].str.contains('202011.{8}')].describe()

         user_id            time  model_nm  ...       day      hour      mmss
count   16532572        16532572  16532572  ...  16532572  16532572  16532572
unique     14998         2567648         9  ...        30        24      3600
top        41285  20201129045433   model_1  ...        12        19      0905
freq      396478             618   5473839  ...    614600    898253      5477

[4 rows x 11 columns]

test quality도 분석해 봅시다

In [ ]:
test_quality_df['year'] = test_quality_df['time'].apply(lambda x: x[:4])
test_quality_df['month'] = test_quality_df['time'].apply(lambda x:  x[4:6])
test_quality_df['day'] = test_quality_df['time'].apply(lambda x: x[6:8])
test_quality_df['hour'] = test_quality_df['time'].apply(lambda x: x[8:10])
test_quality_df['mmss'] = test_quality_df['time'].apply(lambda x: x[10:])

In [ ]:
test_quality_df.describe()

                  time user_id       fwver  ...     day    hour    mmss
count           747972  747972      725208  ...  747972  747972  747972
unique            4317    8268          22  ...      31      24       6
top     20201110141000   37632  05.15.2138  ...      01      22    1000
freq               984    3792      142704  ...   31680   58344  144252

[4 rows x 21 columns]

In [ ]:
test_quality_df['time'].astype(int).describe().astype(int)

count            747972
mean     20201115378414
std             8818205
min      20201031235000
25%      20201108104000
50%      20201115153000
75%      20201123112000
max      20201130234000
Name: time, dtype: int64

test_quality 데이터는 20201031에서 시작하여 20201130에 끝납니다.
quality 데이터는20201011에서 시작하여20201030에 끝납니다. test_quality데이터가 더 작음

In [ ]:
test_quality_df.isna().sum()

time               0
user_id            0
fwver          22764
quality_0     106584
quality_1         11
quality_2      21115
quality_3          0
quality_4          0
quality_5         44
quality_6          0
quality_7          0
quality_8          0
quality_9          0
quality_10         0
quality_11         0
quality_12         0
year               0
month              0
day                0
hour               0
mmss               0
dtype: int64

test quality 데이터에도 nan값이 많이 있습니다.

In [ ]:
test_quality_df[test_quality_df.isna().sum(axis=1)>0].describe()

                  time user_id       fwver  ...     day    hour    mmss
count           108267  108267       85503  ...  108267  108267  108267
unique            3555     579           7  ...      30      24       6
top     20201102203000   32690  03.11.1167  ...      08      22    1000
freq               132    3408       84240  ...    4226    8353   21038

[4 rows x 21 columns]

nan값이 있는 row만 확인해보았습니다.
특이점으로는 fwver도 총 22개지만 nan값이 발생한 fwver은 7개뿐이었습니다.
quality 데이터와의 유니크 값을 비교해보겠습니다.

                  time user_id       fwver  ...     day    hour    mmss
count           144485  144485      104405  ...  144485  144485  144485
unique            3913     587           7  ...      31      24       6
top     20201104204000   23065  03.11.1167  ...      27      22    2000
freq               180    3828      104148  ...    5681   10213   27530

[4 rows x 21 columns]